<div ng-repeat="option in field.options">
  <input type="radio" ng-model="$parent.model" name="{{field.name}}" id="{{prefix}}{{field.name}}_{{option.value}}" ng-value="option.value"/>
  <label for="{{prefix}}{{field.name}}_{{option.value}}">
    <span ng-if="option.preText" class="crm-help-pre description">{{option.preText}}:</span>
    {{option.label}}
    <span ng-if="option.price" class="crm-price-amount-amount"> - $ {{option.price}}</span>
    <span ng-if="option.postText" class="crm-help-post description">:{{option.postText}}</span>
  </label>
</div>