<!-- TODO: Is this necessary? Under what circumstances would there be no options? -->
<input ng-if="!field.options.length" type="checkbox" ng-model="$parent.model"  name="{{field.name}}" id="{{prefix}}{{field.name}}" ng-required="field.required" />

<!-- Typically in an Angular application, models and the state of related
     interface elements are automagically synced. When there is a one-to-one
     relationship between models and UI elements, this is convenient. Because we
     are using multiple HTML elements (the checkboxes) to represent individual
     items in a single model (the array of selections for this field as returned
     by CiviCRM's API), we need to do some extra work. We disable model updates
     for these elements and manage the sync using ng-click, ng-checked, and
     ng-required. Per the Angular doc, model updates can be limited to certain
     events (click, blur, etc.) using the updateOn property of the object passed
     to the ng-model-options directive; setting this to an empty string (not
     documented) disables them altogether. Note: for a checkbox the field
     validity is determined by both whether the "required" attribute is set (by
     ng-required in our case) and by the value of NgModelController.$isEmpty
     (which evaluates ng-model), so it is important that checkbox element's
     ng-model reflect the whole group of checkboxes.
-->
<div ng-if="field.options.length" ng-repeat="option in field.options">
  <input type="checkbox" id="{{prefix}}{{field.name}}_{{option.value}}" name="{{option.name}}"
         ng-model="model" ng-model-options="{updateOn: ''}"
         ng-click="handleToggle(option.value)" ng-checked="isChecked(option.value)" ng-required="isRequired()" />
  <label for="{{prefix}}{{field.name}}_{{option.value}}">
    <span ng-if="option.preText" class="crm-help-pre description">{{option.preText}}:</span>
    {{option.label}}
    <span ng-if="option.price" class="crm-price-amount-amount"> - {{formatMoney(option.price)}}</span>
    <span ng-if="option.postText" class="crm-help-post description">:{{option.postText}}</span>
  </label>
</div>