<div class="crm-section" crm-ui-id-scope="field.name">
  <div class="label">
    <label for="{{prefix}}{{field.name}}" crm-is-required="field.required" crm-depth="1">{{field.label}}
      <span crm-ui-visible="field.required" class="crm-marker" title="This field is required.">*</span>
    </label>
    <a crm-ui-help="help" ng-if="help"></a>
  </div>
  <div class="content">
    <div class="description" ng-if="field.preText" ng-bind-html="preText"></div>
    <crm-render-widget field="field" parent-model="parentModel" model="model" prefix="prefix"></crm-render-widget>
    <div class="description" ng-if="field.postText" ng-bind-html="postText"></div>
  </div>
  <div class="clear"></div>
</div>